* {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    background-color: black;
}

.container {
    background-color: white;
    overflow-x: hidden;

}

h1 {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

p {
    font-family: "Roboto", "Open Sans", sans-serif;
    color: hsl(0, 0%, 53%);
    font-size: 16px;
    text-align: center;
}


#music-container {
    margin: 0 auto 2% auto;
  }