.nav {
    display: block;
    margin: 1% 20% 1% 10%;
    text-align: center;

    
    
    }

#logo {
        width: 150px;
        height: 150px;
        padding: 1% 5% 0 5%;
        transition: all .2s ease-in-out; 
        
        
    }


#logo:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Open Sans", "Work Sans", sans-serif;
    font: 14px;
    font-weight: 500;
    color: white;
    margin: 1%;
    padding: 0.5% 1%;
    
}

a:hover {
    
    color: rgb(0, 119, 255);
    cursor: pointer;
}