.nav {
    display: block;
    margin: 2% 20% 0 10%;
    text-align: center;

    
    
    }

#logo {
        width: 200px;
        height: 200px;
        padding: 0 0 0 0;
        transition: all .2s ease-in-out; 
        
        
    }


#logo:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Open Sans", "Work Sans", sans-serif;
    font: 14px;
    font-weight: 500;
    color: black;
    margin: 1%;
    padding: 0.5% 1%;
    
}

a:hover {
    
    color: red;
    cursor: pointer;
}